<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>PhoneNumber</th>
      <th>FaxNumber</th>
      <th>EmailAddress</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of model">
      <td>{{group.id}}</td>
      <td>{{group.fullName}}</td>
      <td>{{group.phoneNumber}}</td>
      <td>{{group.faxNumber}}</td>
      <td>{{group.emailAddress}}</td>

    </tr>
  </tbody>
</table>
